#  Copyright (C) 2014 Curt Brune <curt@cumulusnetworks.com>
#
#  SPDX-License-Identifier:     GPL-2.0

set root=memdisk
set prefix=($root)/boot/grub

# GRUB Debug Configuration - enabled with: make GRUB_DEBUG=yes
if [ "<GRUB_DEBUG>" == "yes" ] ; then
  set debug=all
  set pager=1
  set verbose=1
fi
